.header--altura{
    height: 64px;
}
.header--position{
    z-index: 10;
    position: relative;
    padding-left: 120px!important;
    padding-right: 120px!important;
}
.header__pregunta--estilo{
    font-family: Roboto;
    font-size: 12px;
    color: #676F8F;
}
.header__telefono--estilo{
    padding-left: 20px;
    font-family: Roboto;
    font-size: 14px;
    color: #6F7DFF;
}
.header__telefono--estilo:hover {
    color: #6F7DFF;
    text-decoration: none;
}